td {
    width: 80px;
    height: 80px;
    background-color: beige;
}
tr.bordered td{
    border: 1px grey solid;
    bordercolor: grey;
}
img {
    width: 80px;
    height: 80px;
    /*padding: 0px;*/
    opacity: 0;
}

input[type=checkbox] {
    visibility: hidden;
}

label {
    width: 80px;
    height: 80px;
    display: block;
}

input[type=checkbox]:checked ~ label img {
    opacity: 1;
}
